<app-side-menu></app-side-menu>

<div class="flex-grow overflow-y-auto">
  <div
    class="mx-auto h-full flex flex-col md:max-w-3xl lg:max-w-[40rem] xl:max-w-[48rem]"
  >
    @for (item of messages; track item) {
    <div class="flex gap-3 py-2">
      <mat-icon class="min-w-min min-h-min">{{
        item.type == "request" ? "person" : "sentiment_satisfied"
      }}</mat-icon>
      <div class="w-full">
        <p class="w-full flex justify-between">
          <b>{{ item.type == "request" ? "Вы" : "BM Assistant" }} </b>
          <a class="opacity-50">{{ item.date | date : "dd.MM.yyyy" }}</a>
        </p>
        <p>
          {{ item.text }}
        </p>
        <p class="mt-1 flex gap-3 h-[28px]"></p>
      </div>
    </div>
    }
    <mat-form-field class="mt-auto mb-2" appearance="outline">
      <input
        matInput
        [(ngModel)]="input"
        placeholder="Сообщение BM Assistant"
      />
      <button
        [disabled]="input == ''"
        mat-icon-button
        matSuffix
        (click)="send()"
      >
        <!-- (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" -->
        <mat-icon>switch_access_shortcut</mat-icon>
      </button>
      <!-- <mat-hint class="text-center w-full"
        >BM Assistant может допускать ошибки. Рекомендуем проверять важную
        информацию.</mat-hint
      > -->
    </mat-form-field>
  </div>
</div>
