<div
  class="w-[480px] h-[455px] py-[30px] px-[60px] rounded-xl bg-grey flex flex-col gap-[5px]"
>
  <div>
    <h1>Добро пожаловать!</h1>
    @if (isLoading){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
  </div>
  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input
      matInput
      placeholder="Введите логин"
      [formControl]="login"
      required
    />
    <!-- @if (login.invalid &&login.touched) { @if (login?.errors?.required)
    {<mat-error>Введите логин</mat-error>} } -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input
      matInput
      placeholder="Введите пароль"
      [formControl]="password"
      required
    />
    <!-- @if (password.invalid &&password.touched) { @if (password?.errors?.required)
    {<mat-error>Введите логин</mat-error>} } -->
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="getToken()">
    Авторизоваться
  </button>

  <div class="grid grid-cols-[1fr_min-content_1fr] mt-auto">
    <hr />
    <div class="flex flex-col text-nowrap text-center">
      <a>У вас нет учетной записи?</a>
      <a>Зарегистрироваться</a>
    </div>
    <hr />
  </div>
</div>
