:host {
  height: 100%;
  min-width: 240px;
  width: 240px;

  overflow-y: auto;
  padding: 16px 0;
  border-right: solid #3f4948 1px;
}

button {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &:hover {
    background-color: #3f4948;
  }
}

.link_active {
  color: #5effff;
  background-color: #00dddd26;
}
