@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background: #191c1c;
  color: #e0e3e2;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
